@model IEnumerable<Lab7.Models.View.CarViewModel>
@{
    ViewData["Title"] = "Show Cars List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Show Cars List</h2>
<p>
    @Html.ActionLink("Create", "Create", new { userID = ViewBag.userID })
</p>
<div style="white-space: pre-wrap; font-family:monospace;">
    <hr />
    @foreach (Lab7.Models.View.CarViewModel car in Model)
    {
        <h3>@Html.DisplayNameFor(model => model.ID): @Html.DisplayFor(model => car.ID) @Html.DisplayNameFor(model => model.Color): @Html.DisplayFor(model => car.Color) @Html.DisplayNameFor(model => model.LicensePlateNumber): @Html.DisplayFor(model => car.LicensePlateNumber)</h3><br />
        <hr />
    }
</div>

<div>
    @Html.ActionLink("User Details", "Details", "User", new { ID = (int)ViewBag.userID }, null)
</div>
