
@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<h2>Character Name: @ViewBag.Person.CharacterName</h2>
<h2>Player Name: @ViewBag.Person.PlayerName</h2>
<h2>Class: @ViewBag.Person.CharacterClass</h2>
<h2>STR: @ViewBag.Person.Strength</h2>
<h2>DEX: @ViewBag.Person.Dexterity</h2>
<h2>CON: @ViewBag.Person.Constitution</h2>
<h2>INT: @ViewBag.Person.Intelligence</h2>
<h2>WIS: @ViewBag.Person.Wisdom</h2>
<h2>CHA: @ViewBag.Person.Charisma</h2>


