@model IEnumerable<Lab4.Data.Entities.User>
@{
    ViewData["Title"] = "Show Users List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Show Users List</h2>
<div style="white-space: pre-wrap; font-family:monospace;">
    <hr />
    @foreach (Lab4.Data.Entities.User user in Model)
    {
        <h3>id: @user.Id Name: @user.FirstName @user.MiddleName @user.LastName Email: @user.EmailAddress Number of Years at School: @user.YearsInSchool GPA: @user.GPA</h3><br />
        <hr />
    }
</div>